body {
  padding: 0;
  margin: 0;
}

main {
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-rows: repeat(10, 10vw);
  grid-template-columns: repeat(11, 10vw);
}

.square {
  background: #d10000;
  width: 10vw;
  height: 10vw;
  display: grid;
}

.col-0 {
  background: black;
}

.square:nth-child(2n) {
  background: #910000;
}

aside {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: #fffdfd;
  border-radius: 2em;
  padding: .5em;
  font-family: sans-serif;
}
